$color-light: #E4E4E4;
$color-light2: #DDDDDD;
$color-light3: #BFBFBF;
$color-dark: #101010;

*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: $color-dark;
}

header{
    z-index: -100;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    div{
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
    div:nth-child(1){
        width: 100%;
        height: 100%;
        background-image: url('../img/background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        div{
            //To prevent the blur from bleeding at the edges
            transform: scale(1), translateX(0px);
            filter: blur(16px);
            -webkit-backdrop-filter: blur(16px);
            opacity: 0;
        }
    }
    div:nth-child(2){
        background: linear-gradient(0deg, rgba(16,16,16,1), rgba(16,16,16,0.25));
    }
    div:nth-child(3){
        top: 35%;
        left: 18%;
        color: $color-light;
        h1{
            font-size: 5em;
            font-weight: 700;
        }
        h2{
            font-size: 3em;
            font-weight: 400;
        }
    }
}

@media(max-width: 767px){
    header{
        div:nth-child(3){
            left:16px;
            h1{
                font-size: 3em;
            }
            h2{
                font-size: 2em;
            }
        }
    }
}

@media(max-width: 768px) and (orientation: portrait){
    header{
        height: 85vh;
    }
}

.transition-arrow{
    position: relative;
    width: 100%;
    height: 80px;
    img{
        position: absolute;
        width: 160px;
        height: 80px;
        bottom: 0;
        left:50%;
        margin-left:-80px;
    }
}
.transition-arrow-overlap{
    @extend .transition-arrow;
    margin-top: -80px;
}

section{
    width: 100%;
    height: 500px;
    background-color: $color-dark;
}

main{
    /*
    CHECK THIS BIT IN IE
    */
    max-width: 768px;
    margin: auto;
    padding: 0 16px;
    margin-top: -100px;
}

.card{
    position: relative;
    background-color: $color-light2;
    border-radius: 24px;
    padding: 64px 16px;
    overflow: hidden;
    .card-header{
        position: absolute;
        height: 4px;
        top: 20px;
        left: 100px;
        right: 100px;
        background-color: $color-dark;
        border-radius: 4px;
    }
    .card-body{
        display: grid;
        grid-template-columns: 450px 200px;
        img{
            width: 200px;
            height: 200px;
            border-radius: 100px;
        }
        div{
            margin:auto;
        }
    }
    .card-footer{
        position: absolute;
        height: 48px;
        left:0;
        right:0;
        bottom:0;
        background-color: $color-light3;
    }
}