$color-light: #E4E4E4;
$color-light2: #BFBFBF;
$color-dark: #141414;
$shadow: 0px 6px 12px 0px rgba(0,0,0,0.16);

*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    //Hides blue box when interacting with elements on mobile
    -webkit-tap-highlight-color: transparent;
}
h1,h2,p{
    color: $color-light;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
background: $color-dark;
}
::-webkit-scrollbar-thumb {
background: $color-light2;
border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
background: $color-light;
}

.fade-in-on-scroll{
    opacity: 1;
}
body{
    background-color: $color-dark;
}

#header-background{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    div{
        position: absolute;
        left:0;right:0;
        height:100%;
    }
    div:nth-child(1){
        background: linear-gradient(0deg, $color-dark, rgba(0,0,0,0.25));
    }
    div#scroll-cta{
        cursor: pointer;
        opacity: 0;
        bottom: 32px;
        margin:auto;
        width: 64px;
        height: 64px;
        border: 1px solid $color-light;
        border-radius: 100%;
        overflow: hidden;
        span{
            position: absolute;
            width: 23px;
            height: 23px;
            left: 20px;
            top: 26px;
            transform: rotate(45deg);
            border-left: 2px solid $color-light;
            border-top: 2px solid $color-light;
        }
    }
}

header{
    z-index: 10;
    margin-top: -65vh;
    margin-bottom: 65vh;
    position: -webkit-sticky;
    position: sticky;
    height:0;
    top:0;
    h1,h2{
        padding-left: 18%;   
        text-shadow: 0px 2px rgba(0, 0, 0, 0.35);
    }
    h1{
        font-size: 5em;
        font-weight: 700;
    }
    h2{
        font-size: 3em;
        font-weight: 400;
    }
    #title-background{
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
        box-shadow: $shadow;
        background-color: $color-dark;
        opacity: 0;
        width: 100%;
        height: 6em;
        margin-bottom: -6em;
    }
}

$main-padding: 16px;
main{
    margin: auto;
    max-width: 768px-$main-padding;
    padding-top: 64px;
    display:grid;
    grid-template-areas:
        "about  picture"
        "about  picture"
        "border border"
        "social social";
    grid-template-columns: 1fr 200px+$main-padding;

    .main-text{
        grid-area: about;
        padding: $main-padding;
        h1{
            font-size: 2em;
        }
        p{
            font-size: 1.25em;
        }
     }
     .main-picture{
        grid-area: picture;
        text-align: center;
        padding-right: $main-padding;
        img{
            width: 200px;
            height: 200px;
            border-radius: 100px;
            -webkit-box-shadow: $shadow;
            -moz-box-shadow: $shadow;
            box-shadow: $shadow;
        }
     }
     .main-border{
        grid-area: border;
        margin: 32px $main-padding;
        background-color: $color-light2;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
        box-shadow: $shadow;
        height: 1px;
     }
     .main-social-links{
        grid-area: social;
        ul{
            height: 50px;
            display: flex;
            justify-content: space-around;
            list-style: none;
            max-width: 400px;
            width: 90%;
            margin:auto;
            li{
                cursor: pointer;
                width: 32px;
                height: 32px;
                text-align:  center;
                color: $color-light;
                span{
                    pointer-events: none;
                    font-size: 32px;
                }
            }
            li.social-link-linkedin:hover{
                color:#0E76A8;
            }
            li.social-link-facebook:hover{
                color:#1778F2;
            }
            li.social-link-instagram:hover{
                color: #E1306C;
            }
        }
     }
}

@media(max-width: 767px){
    header{
        h1,h2{
            padding-left: 16px;
        }
        h1{
            font-size: 3em;
        }
        h2{
            font-size: 2em;
        }
        #title-background{
            height: 4em;
            margin-bottom: -4em;
        }
    }
    main{
        margin: auto;
        max-width: 768px;
        padding-top: 64px;
        display:grid;
        grid-template-areas:
            "picture picture"
            "about   about"
            "border  border"
            "social  social";
    }
}

footer{
    margin-top: 100px;
    width: 100%;
    text-align: center;
    padding: 16px 0;
}