body{
    background-color: #DDD;
}

#card{
    width: 100%;
    height: 100%;
    max-width: 100vh;
    max-height: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #envelope-wrapper{
        position: relative;
        margin: 6%;
        width: 88%;
        height: 88%;
        animation: pulse 1500ms ease-in-out;
        div{
            overflow: hidden;
            position: absolute;
            img{
                position: absolute;
            }
        }
        & > #envelope{
            top:3%; bottom:3%; left:3%; right:3%;
        }
    }
}

/*
*{
    opacity: 0.9;
}
*/

.env-component {
    transition-duration: 500ms;
    bottom: 20%;
}
#env-fold {
    transform: scaleY(-1) translateY(20%);
}

#card.closed{
    #envelope-wrapper{
        animation-iteration-count: infinite;
        cursor: pointer;
    }
}

#card.opening, #card.open{
    .env-component{
        bottom: 0%;
    }
    #env-fold {
        animation: open-fold 500ms linear 200ms;
        animation-fill-mode: forwards;
    }
    #content{
        bottom:3%;
    }
}

#card.open{
    #content {
        top:0%;
        bottom: 0%;
        height: 100%;
    }
    .env-component{
        bottom: -100%;
    }
}

@keyframes open-fold {
    from {
        transform: scaleY(-1) translateY(20%);
        z-index: 3;
    }
    50%{
        transform: translateY(0);
        z-index: 1;
    }
    to{
        transform: scaleY(1);
        z-index: 1;
    }
}

@keyframes pulse {
    0% {
        margin: 6%;
        width: 88%;
        height: 88%;
    }

    50% {
        margin: 4%;
        width: 92%;
        height: 92%;
    }

    100% {
        margin: 6%;
        width: 88%;
        height: 88%;
    }
}


#env-body, #env-fold {
    z-index: 3;
}

#content {
    z-index: 2;
    top:30%; bottom:20%; left:3%; right:3%;
    overflow: hidden;
    overflow-y: scroll;
    transition-duration: 500ms;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h1,h2{
        text-align: center;
        color: white;
    }
    h1{
        margin-top: 15%;
        font-size: 5vh;
    }
    h2{
        margin-top: 30%;
    }
}



#env-back {
    z-index: 1;
}

