header{
    margin-top: 25vh;
    padding-left: 50px;
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.3));
    overflow: hidden;
    h1{
        font-family: 'Poppins', sans-serif;
        line-height: 220px;
        font-size: 220px;
        color: white;
        overflow: hidden;
    }
}
header + canvas{
    position: absolute;
    top:0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

@media(max-width:1200px){
    header{
        padding-left: 4.1667vw;
        h1{
            font-size: 18.3333vw;
            line-height: 18.3333vw;
        }
    }
}