header{
    padding-top: 200px;
    height: 100vh;
    margin-bottom: -300px;
    h1{
        padding-left: 50px;
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.3));
        line-height: 220px;
        font-size: 220px;
        color: white;
        font-weight: 700;
        overflow:hidden;
    }
}
/*
header + canvas#header-canvas{
    position: absolute;
    top:0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
*/

@media(max-width:1200px){
    header{
        h1{
            padding-left: 4.1667vw;
            font-size: 18.3333vw;
            line-height: 18.3333vw;
        }
        p{
            position: absolute;
            bottom: 30px;
            left: 7px;
            right:0;
            text-align: center;
            font-size: 2rem;
        }
    }
}
@media(min-width: 769px){
    header > p{
        display:none;
    }
}