@media (min-width: 768px){
    .scrollbar{
        position: fixed;
        top: 45px;
        bottom: 45px;
        right: 45px;
        * {
            transition-duration: 100ms; 
        }
        input.scrollbar-thumb{
            position: absolute;
            margin-top: -18px;
            left: -18px;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: 5px solid white;
            background-color: #141414;
            cursor: pointer;
            transition-property: width, height, border; 
            transition-timing-function: ease-in-out; 
            z-index: 2;
        }
        input.scrollbar-thumb:focus{
            outline: none;
        }
        input.scrollbar-thumb:hover,
        input.scrollbar-thumb:focus{
            border: 20px solid white;
            width: 0px;
            height: 0px;
            box-shadow: 0 0 4px 8px rgba(0,0,0,0.2);
        }
        input.scrollbar-thumb:hover ~ span.scrollbar-track,
        input.scrollbar-thumb:focus ~ span.scrollbar-track
        {
            background-color: gray;
        }

        span.scrollbar-track{
            position: absolute;
            height: 100%;
            width: 4px;
            border-radius: 100px;
            background-color: white;
            z-index: 1;
        }
    }
}
@media (max-width: 767px){
    .scrollbar{
        display: none;
    }
}