@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    //Hides blue box when interacting with elements on mobile
    -webkit-tap-highlight-color: transparent;
    overflow-x: scroll;
}


body{
    background-color: #444;
}


section, footer{
    color: white;
    padding: 0 100px;
    overflow: hidden;
}
footer{
    margin-bottom: 20px;
    margin-top: 400px;
}
section{
    margin-top: 200px;
    *{
        overflow: hidden;
    }
    h1{
        font-family: 'Major Mono Display', monospace;
        font-size: 5rem;
        max-width: 1200px;
        margin-bottom: 20px;
    }
    p,li{
        font-size: 1.25rem;
        max-width: 600px;
    }
    strong{
        font-weight: 600;
    }
    li > strong::before{
        content: '> ';
    }
}
@media(max-width: 1200px){
    section{
        padding: 0 20px;
        margin-bottom: 100px;
        h1{
            font-size: 3.5rem;
            max-width: 100%;
        }
        p, li{
            font-size: 1.25rem;
        }
    }
    section,footer{
        padding: 0 20px;
    }
}