*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    //Hides blue box when interacting with elements on mobile
    -webkit-tap-highlight-color: transparent;
}



body{
    overflow-x: hidden;
}

header{
    h1{
        font-size: 4rem;
        color: white;
    }
    h2{
        font-size: 2.5rem;
        color: white;
    }
}

footer{
    p{
        padding: 16px;
        padding-top: 32px;
        width: 100%;
        text-align: center;
        color: white;
        font-weight: 200;
        font-size: 1.25rem;
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4) 40%, rgba(0,0,0,0.8));
    }
}