@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    //Hides blue box when interacting with elements on mobile
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}


body{
    background-color: #444;
}


.icon{
    margin-left: 8px;
    margin-right: 16px;
    color: white;
    transition-duration: 150ms;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    .icon{
        transform: scale(1.5);
    }
}

section, footer{
    color: white;
    padding: 0 100px;
}
footer{
    margin-bottom: 20px;
    margin-top: 200px;
}
section{
    margin-top: 200px;
    display: grid;
    grid-template-columns: 600px 1fr;
    align-items: center;
    li:not(:nth-child(1)){
        margin-top: 20px;
    }
    h1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
        font-family: 'Major Mono Display', monospace;
        font-size: 5rem;
        max-width: 1200px;
        margin-bottom: 30px;
        word-wrap: break-word;
    }
    p,ul{
        font-size: 1.25rem;
    }
    strong{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
    }
    li > strong::before{
        content: '> ';
    }
    div.text{
        grid-column:1;
        grid-row: 2;
        max-width: 90vw;
    }
    div.img{
        grid-column:2;
        grid-row: 2;
        text-align: center;
        img{
            max-width: 20vw;
            max-height: 20vw;
            transition-duration: 300ms;
            border-radius: 100%;
            filter:
                brightness(0.6)
                saturate(0.5)
                opacity(1);
        }
        img:hover{
            filter:
                brightness(1)
                saturate(1)
                opacity(1);
        }
    }
    div.img-hidden{
        img{
            filter: opacity(0);
        }
    }
}
img.image-round{
    border-radius: 100%;
}
@media(max-width: 1000px){
    section{
        margin-bottom: 100px;
        h1{
            font-size: 3.5rem;
            max-width: 100%;
        }
        div.img{
            display: none;
        }
    }
}
@media(max-width: 768px){
    section{
        h1{
            font-size: 2.5rem;
        }
        p,li{
            font-size: 1.05rem;
        }
    }
    section,footer{
        padding: 0 20px;
    }
}